@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-col: white;
  --secondary-col: black;

}

* {
  transition: background-color 1s cubic-bezier(0.16, 1, 0.3, 1) 0s;
}

.scroll-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  will-change: transform;
}

body {
  color: #000;
  background: #fff;
  transition: all .5s;
  font-family: 'Manrope', sans-serif !important;
  overscroll-behavior-y: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.dark,
.dark body {
  color: #fff;
  background: #000;
  font-family: 'Manrope', sans-serif !important;
}

.dark,
.dark :root {
  --primary-col: black;
  --secondary-col: white;

}

@layer {

  ::selection {
    color: #4b6cc1;
    background: transparent;
  }

  .no-pointer-effects {
    pointer-events: none;
  }


  .switch {
    width: 50px;
    height: 30px;
    background-color: #ececec8b;
    display: flex;
    justify-content: flex-start;
    border-radius: 50px;
    padding: 5px;
    cursor: pointer;
  }

  .switch[data-isOn="true"] {
    justify-content: flex-end;
  }

  .handle {
    width: 20px;
    height: 20px;
    border-radius: 40px;
  }

  /* html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
} */


  .outline-text {
    color: var(--primary-col);
    text-shadow: -1px -1px 0 var(--secondary-col),
      1px -1px 0 var(--secondary-col),
      -1px 1px 0 var(--secondary-col),
      1px 1px 0 var(--secondary-col),
      1px 0px 0 var(--secondary-col),
      -1px 0px 0 var(--secondary-col),
      0px 1px 0 var(--secondary-col),
      0px -1px 0 var(--secondary-col);
    -webkit-font-smoothing: antialiased;
  }


}